In [ ]:
a = 2

In [1]:
2 < 10

True

In [3]:
(2).__lt__(10)

True

In [4]:
10 == 1

False

In [6]:
a = 10
b = 20
if a < b:
    print("a < b")
else:
    print("a >= b")

a < b

In [7]:
if True:
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

In [ ]:
my_list = []
if my_list:
    print("my_list es truthy")
else:
    print("my_list no es truthy")

my_list no es truthy

In [12]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [ ]:
my_list.pop()

In [13]:
my_tuple = 1, 2, 3
my_tuple

(1, 2, 3)

In [14]:
saludo = "Hola Mundo!"
saludo

'Hola Mundo!'

In [15]:
saludo = 'Hola Mundo!'
saludo

'Hola Mundo!'

In [17]:
"aba".replace("a","A")

'AbA'

In [18]:
"aba".replace("a","A",count = 1)

'Aba'

In [21]:
my_str = "aba"
print(hex(id(my_str)))
my_str.replace("a", "b")
print(hex(id(my_str)))

0x28027fcae20
0x28027fcae20

In [22]:
my_str = "Line1\nLine2\nLine3"
print(my_str)

Line1
Line2
Line3

In [ ]:
multiline = """
Line1
Line2
Line3
"""
print(multiline)

In [23]:
a = 10
"esto es importante"
if True:
    print("Todo OK")

Todo OK

In [24]:
my_str = r"Line1\nLine2\nLine3"
print(my_str)

Line1\nLine2\nLine3

In [25]:
a = 10
b = 2
print(f"Resultado: {a}")

Resultado: 10

In [26]:
print(f"Resultado: {a*b}")

Resultado: 20

In [30]:
my_float = 0.128
my_fstring = f"Mi flotante es {my_float:.2f}"
print(my_fstring)

Mi flotante es 0.13

In [34]:
my_list = [10, 20, 30]

In [35]:
len(my_list)

3

In [36]:
my_list.__len__()

3

In [ ]:
len("Hola Mundo")

10

In [38]:
len("Hola Mundo\n")

11

In [39]:
my_seq = 3.14, "pi", (1, "Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [40]:
my_seq[0]

3.14

In [42]:
my_seq[1]

'pi'

In [41]:
my_seq[2]

(1, 'Madrid')

In [43]:
my_seq[len(my_seq) - 1]

(1, 'Madrid')

In [44]:
my_seq[-1]

(1, 'Madrid')

In [45]:
print(my_seq)
my_seq[-len(my_seq)]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [46]:
palabra = "workbook"
palabra[0]

'w'

In [48]:
palabra.__getitem__(0)

'w'

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix

6

In [53]:
matrix[1]

[4, 5, 6]

In [54]:
matrix[1][2]

6